<h1> <%= @topic.name if @topic %> </h1>
<% if @question.answered %>
 <h4 class="intro" style="color:green;"> <%= @question.content %> </h4> 
 <% else %>
 <h4 class="intro" style="color:red;"> <%= @question.content %> </h4> 
 <% end %>

 <% if @question.user == current_user %>

<%= button_to "Modify Question", edit_topic_question_path(@topic, @question), :method => :get, class: "button3"  %> 
<%= button_to "This Question is Solved", solved_path, class: "button3"  %>  <br>
<% end %>


<br> <%= render :partial => "comments/display", :collection => @question.comments.reverse, :as => :comment %>

<br> <%= render "comments/form" %>