<h1> <%= @topic.name if @topic %> </h1>

 <h4 class="intro"> <%=  link_to "#{@question.content}", question_comments_path(@question) %> </h4> <br>

<%= button_to "Modify Question", edit_question_path(@question), :method => :get, class: "button3"  %> <br> 
<%= button_to "This Question is Solved", solved_path, class: "button3"  %>  <br>


<%= render :partial => "comments/display", :collection => @question.comments, :as => :comment %>

<%= render "comments/form" %>