<h1> Login </h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, value: @user.name %>
</div>

<div class="field">
  <%= f.label :password %> <br />
  <%= f.password_field :password %>
 </div> <br />
  <%= f.submit "Login", class: "button3"  %>
  Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
<% end %>

<br> <%= link_to "Signin with GitHub", '/auth/github', method: :post %>