<h4>
<% if @post %> 
    <%= "#{comment.user.name}: #{comment.content}"  %> 
<% elsif @question %> 
    <% if comment.answer %>
       <div class="answers"> <%= "#{comment.user.name} answered #{comment.content}"%> </div>
    <% else %>
        <%= "#{comment.user.name}: #{comment.content}"  %> 
    <% end %>
<% else @user %>
    <% if comment.answer %>
      <div class="answers"> <%= "#{comment.user.name} answered #{comment.content}" %> </div>
    <% else %>
    <%= "#{comment.user.name}: #{comment.content}"  %>
    <% end %>
<% end %>
</h4>