
<% if @post %>
<%= form_for [@post, @comment] do |f| %>
<%= f.hidden_field :post_id, value: @post.id %>
<span class="largeFont" ><%= f.label :content, "Comment" %>  </span> <br>
<%= f.text_area :content %> <br>  <br>
<%= f.submit :class => 'button3' %>  
<% end %> 
<% else @question %>
<%= form_for [@question, @comment] do |f| %>
<%= f.hidden_field :question_id, value: @question.id %>
<span class="largeFont" ><%= f.label :answer, "Please check if this is an answer!" %> </span>  <br>
<%= f.check_box :answer, {class:"form-check-input", type:"checkbox"}, true, false  %> <br> <br>
<span class="largeFont" ><%= f.label :content, "Comment/Answer" %>  </span> <br>
<%= f.text_area :content %> <br>  <br>
<%= f.submit :class => 'button3' %>  
<% end %>
<% end %>


