<h1> <%= @topic.name %> </h1>


<div class="container main-info">
<h3> <em> <u> Knowledge for Sharing </u> </em> </h3> <br>
<ul>
<% @topic.posts.each do |post| %>
<li> <h4>  <%= link_to "#{post.title}", topic_post_path(@topic, post) %>  </h4> </li>
<% end %>
</ul>
<br><br>
<%= button_to "Drop Some Knowledge", new_topic_post_path(@topic), :method => :get, class: "button3"  %> 

</div>

<div class="container main-info">
<h3> <em> <u>  Questions That Need Answers </u> </em> </h3> <br>
<ul>
<% @topic.questions.each do |question| %>
<li>  <h4> <%= link_to "#{question.content}", topic_question_path(@topic, question) %>  </h4> </li>
<% end %>
</ul>
<br><br>
<%= button_to "Post Question(s)", new_topic_question_path(@topic), :method => :get, class: "button3" %>

 </div>