<h1> <%= @topic.name %> </h1>

<div class="container main-info">
<h3> <em> <u> Knowledge for Sharing </u> </em> </h3> <br>
<% @topic.posts.each do |post| %>
 <h4>  <%= link_to "#{post.title}", topic_post_path(@topic, post) %>  </h4> 
<% end %>

<br><br>
<%= button_to "Drop Some Knowledge", new_topic_post_path(@topic), :method => :get, class: "button3"  %> 

</div>

<div class="container main-info">
<h3> <em> <u>  Questions and Answers </u> </em> </h3> <br>
<% @topic.questions.each do |question| %>
 <h4> <%= link_to "#{question.content}", topic_question_path(@topic, question) %>  </h4> 
<% end %>

<br><br>
<%= button_to "Post Question(s)", new_topic_question_path(@topic), :method => :get, class: "button3" %> <br><br>
 </div>
 