<h1> <%= @user.name %> </h1>

<div class="container topic-info">
<h2> <em> <u> Shared Knowledge </u> </em> </h2>
<% @user.posts.reverse.each do |post| %>
<h4><%= link_to "#{post.title.titlecase}", topic_post_path(post.topic, post) %> <br> </h4>
<% end %>
</div>

<div class="container topic-info">
<h2> <em> <u> Questions </u> </em> </h2>
<% @user.questions.each do |question| %>
<% if question.answered %>
 <h4> <%= link_to "#{question.content}", topic_question_path(question.topic, question), class: "answers"  %>  </h4> 
 <% else %>
 <h4> <%=link_to "#{question.content}", topic_question_path(question.topic, question)  %>  </h4>
 <% end %> 
<% end %>
</div>

<div class="container topic-info">
<h2> <em> <u> Comments/Answers </u> </em> </h2>
<% if current_user == User.most_frequent_poster %>
<%= render :partial => "comments/display", :collection => @user.comments_to_posts.reverse, :as => :comment %>
<% else %>
<%= render :partial => "comments/display", :collection => @user.comments.reverse, :as => :comment %>
<% end %>
</div>
