<h1> <%= @topic.name if @topic %> </h1>

<%= render partial: 'display', locals: { post: @post }%> <br>

 <% if @post.user == current_user %>

<br> <%= button_to "Edit Post", edit_topic_post_path(@topic, @post), :method => :get, class: "button3"  %> 

<% end %>

<%= render :partial => "comments/display", :collection => @post.comments.reverse, :as => :comment %>

<br> <%= render "comments/form" %>

